/** @format */
:root {
	--purpule-top: #53225b;
	--green-mid: #00bf6f;
	--red-mid: #902b3c;
	--blue-mid: #05467e;
}
body {
	padding: 0%;
	margin: 0%;
}
* {
	box-sizing: border-box;
	font-family: "National 2", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans",
		"Hiragino Kaku Gothic Pro", 游ゴシック, 游ゴシック体, YuGothic, "Yu Gothic",
		"ＭＳ ゴシック", "MS Gothic", sans-serif;
}
.customer-exp-top-container {
	margin-top: 0px;
	background-color: var(--purpule-top);
	display: flex;
	height: 550px;
	justify-content: space-between;
}
.customer-exp-top-container .text-div {
	font-size: 22px;
	width: 45%;
	padding: 90px 0px;
	padding-left: 40px;
}
.customer-exp-top-container .text-div h1 {
	color: white;
	margin-bottom: 15px;
}
.customer-exp-top-container .text-div p {
	color: white;
}
.customer-exp-top-container .imgDiv {
	height: 100%;
}
.customer-exp-top-container .imgDiv img {
	height: 100%;
}
.customer-exp-top-container button {
	text-decoration: none;
	padding: 18px 55px;
	margin-top: 25px;
	background-color: var(--green-mid);
	border-radius: 5px;
	border: none;
	color: white;
	font-size: 17px;
}
.solving-biggest-challenges {
	padding: 120px 0px;
}
.solving-biggest-challenges h1 {
	width: 50%;
	text-align: center;
	margin: auto;
}
.three-color-divs {
	display: grid;
	grid-template-columns: repeat(3, 22%);
	grid-template-rows: 500px;
	width: 100%;
	padding: 0px 30px;
	justify-content: space-evenly;
	margin-bottom: 50px;
	align-items: center;
}
.three-color-divs > div {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.color-div {
	/* -webkit-font-smoothing: antialiased; */
	font-size: 17px;
	padding: 25px 40px;
	font-weight: 500;
	height: 350px;
	margin-top: 10px;
}
.color-div p,
.color-div p a {
	line-height: 1.6;
	color: white;
	margin-bottom: 9px;
}
.green-text-content h1 {
	margin-bottom: 13px;
}
.color-div a{
	text-decoration: underline;
}
.color-div p:first-child{
	margin-bottom: 12px;
	font-weight: bold;
}
.green-text-content h1 {
	margin-bottom: 8px;
	color: var(--green-mid);
	font-size: 34px;
}
.green-div .color-div {
	background-color: #00bf6f;
}
.red-text-content h1 {
	color: var(--red-mid);
	font-size: 34px;
}
.red-div .color-div {
	background-color: var(--red-mid);
}
.blue-text-content h1 {
	color: var(--blue-mid);
	font-size: 34px;
}
.blue-div .color-div {
	background-color: var(--blue-mid);
}
/* ------------------------------------------------- */
.from-instance {
	padding: 100px 0px;
	background-color: var(--purpule-top);
}
.from-instance h4 {
	line-height: 1.8;
	width: 52%;
	margin: auto;
	text-align: center;
	color: white;
}
.from-instance button {
	text-decoration: none;
	padding: 16px 55px;
	margin-top: 5px;
	color: white;
	background-color: var(--green-mid);
	border-radius: 5px;
	border: none;
	display: block;
	margin: auto;
	margin-top: 30px;
}
/* for boost-customer */
/* ul li{
	list-style:disc;
	margin-left: 25px;
} */
.boost-customer {
	display: grid;
	grid-template-columns: 30% 50%;
	grid-template-rows: 600px;
	justify-content: space-between;
	align-items: center;
	padding: 70px 100px;
}
.boost-customer .text-div {
	line-height: 1.7;
}
.boost-customer .text-div ul li{
	list-style:disc;
	margin-left: 25px;
}
.boost-customer .imgDiv {
	height: 100%;
}
.boost-customer .imgDiv img {
	height: 100%;
}
.boost-customer .text-div button {
	text-decoration: none;
	padding: 15px 40px;
	margin-top: 5px;
	color: white;
	background-color: var(--green-mid);
	border-radius: 5px;
	border: none;
	margin-top: 20px;
}

/*for uderstand-customer*/
.uderstand-customer {
	display: grid;
	grid-template-columns: 50% 30%;
	grid-template-rows: 600px;
	justify-content: space-between;
	align-items: center;
	padding: 50px 100px;
}
.uderstand-customer .text-div {
	line-height: 1.7;
}
.uderstand-customer .imgDiv {
	height: 100%;
}
.uderstand-customer .imgDiv img {
	height: 100%;
}
.uderstand-customer .text-div button {
	text-decoration: none;
	padding: 15px 40px;
	margin-top: 5px;
	color: white;
	background-color: var(--green-mid);
	border-radius: 5px;
	border: none;
	margin-top: 20px;
}
/* For create culture */

.create-culture {
	display: grid;
	grid-template-columns: 30% 50%;
	grid-template-rows: 600px;
	justify-content: space-between;
	align-items: center;
	padding: 70px 100px;
}
.create-culture .text-div {
	line-height: 1.7;
}
.create-culture .imgDiv {
	height: 100%;
}
.create-culture .imgDiv img {
	height: 100%;
}
.create-culture .text-div button {
	text-decoration: none;
	padding: 15px 40px;
	margin-top: 5px;
	color: white;
	background-color: var(--green-mid);
	border-radius: 5px;
	border: none;
	margin-top: 20px;
}
/* --------------------------------- */
.video-section-near-footer {
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(3, 27%);
	grid-template-rows: 190px;
	width: 100%;
	padding: 50px 43px;
	justify-content: space-between;
	line-height: 1.8;
}
.video-section-near-footer > div {
	cursor: pointer;
}
.video-section-near-footer .using-survey {
	width: 100%;
	height: 100%;
}
.video-section-near-footer .using-survey img {
	width: 100%;
	height: 100%;
}
/* ------------------------------- */
.video-section-near-footer .enterprise-card-2 {
	width: 100%;
	height: 100%;
}
.video-section-near-footer .enterprise-card-2 img {
	width: 100%;
	height: 100%;
}
/* --------------------------------------*/
.video-section-near-footer .managing-the-customer {
	width: 100%;
	height: 100%;
}
.video-section-near-footer .managing-the-customer img {
	width: 100%;
	height: 100%;
}

/* --------------------------------------------- */
.input-form-near-footer-container {
	/* border: 1px solid red; */
	font-weight: 500;
	color: rgb(30, 33, 36);
	margin-top: 130px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	line-height: 1.5;
	margin-bottom: 120px;
}
.input-form-near-footer-container h1 {
	margin-top: 45px;
	margin-bottom: 35px;
	text-align: center;
}
.input-form-near-footer-container .input-form {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: auto;
}
.input-form-near-footer-container .input-form > div {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-bottom: 8px;
}
.input-form-near-footer-container .input-form > div > div {
	display: flex;
	flex-direction: column;
}
.input-form-near-footer-container .comment {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: auto;
}
.input-form-near-footer-container .checkbox-and-info {
	width: 50%;
	margin: auto;
}

.input-form-near-footer-container input,
.input-form-near-footer-container select {
	border: 1px solid rgb(208, 210, 211);
	width: 90%;
	height: 37px;
	border-radius: 5px;
}
.input-form-near-footer-container input:not(.checkbox-and-info > input):hover, .input-form-container select:hover{
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.checkbox-and-info {
	display: flex;
	justify-content: space-between;
}
.checkbox-and-info div {
	padding: 35px 5px;
	font-size: 15px;
}
.checkbox-and-info > div > p:first-child {
	margin-bottom: 10px;
}
.checkbox-and-info input {
	width: 60px;
	height: 60px;
	margin-right: 10px;
}
.input-form-near-footer-container label {
	font-size: 15px;
	margin-bottom: 5px;
	font-weight: 500;
}
.comment input {
	width: 96%;
	height: 70px;
}
.input-form-near-footer-container .submit-button {
	display: flex;
	font-size: 17px;
	align-items: center;
	justify-content: center;
	width: 9%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #00bf6f;
	color: white;
	margin: auto;
}
.fa-circle-exclamation {
	margin-top: 5px;
	color: rgb(240, 87, 87);
	font-size: 15px;
}
.caution-sign {
	margin-top: 5px;
	display: flex;
	gap: 5px;
}
.caution-sign p {
	color: rgb(240, 87, 87);
}

/*--------------------------------------------------*/
.not-ready-container {
	padding: 130px 0px;
	width: 100%;
	text-align: center;
	margin: auto;
	background-color: var(--purpule-top);
}
.not-ready-container .not-ready-text{
	width: 45%;
	margin: auto;
	line-height: 1.8;
}
.not-ready-container .not-ready-text h1{
	font-size: 38px;
	color:white;
}
.not-ready-container .not-ready-text p{
	font-size:18px;
	color:white;
}
.not-ready-container .not-ready-text button{
	text-decoration: none;
	padding: 15px 40px;
	margin-top: 5px;
	color: white;
	background-color: var(--green-mid);
	border-radius: 5px;
	border: none;
	margin-top: 20px;
	font-size: 16px;
}
@media only screen and (min-width:320px) and (max-width:720px){
.customer-exp-top-container .text-div {
	font-size: 18px;
	width: 100%;
	margin: auto;
	text-align: center;
	line-height: 1.4;
	padding-right: 30px;
}
.customer-exp-top-container .text-div h1 {
	width: 95%;
	font-size: 23px;
	text-align: center;
}
.customer-exp-top-container .imgDiv {
	display: none;
}
.solving-biggest-challenges h1 {
	width: 100%;
}
.three-color-divs {
	grid-template-columns: repeat(1, 85%);
	grid-template-rows: 400px;
	gap: 19px;
}
.color-div {
	padding: 25px 30px;
	height: 280px;
	margin-top: 15px;
}
.color-div p,
.color-div p a {
	line-height: 1.3;
}
.red-text-content h1 {
	margin-bottom: 13px;
}
.blue-text-content h1 {
	margin-bottom: 13px;
}
/* ------------------------------------------- */
.from-instance h4 {
	width: 95%;
}
/* ----------------------------------------------- */

.boost-customer {
	display: grid;
	grid-template-columns: 95%;
	grid-template-rows: auto;
	margin: auto;
	justify-content: center;
	align-items: center;
	padding: 70px auto;
}
.boost-customer .text-div{
	width:100%;
}
.boost-customer .text-div h3{
	font-size: 19px;
}
.boost-customer .imgDiv {
	height: 100%;
}
.boost-customer .imgDiv img {
	height: 100%;
	width: 100%;
}
.uderstand-customer {
	display: grid;
	grid-template-columns: 95%;
	grid-template-rows: auto;
	justify-content: space-between;
	align-items: center;
	padding: 50px auto;
}
.uderstand-customer .imgDiv {
	height: 100%;
}
.uderstand-customer .imgDiv img {
	height: 100%;
	width:100%;
}
.create-culture {
	display: block;
	flex-direction: column;
	padding: 70px 40px;
}
.create-culture .text-div {
	line-height: 1.7;
}
.create-culture .imgDiv {
	height: 100%;
}
.create-culture .imgDiv img {
	height: 100%;
	width:100%;
}
/* ----------------------------- */
.video-section-near-footer {
	margin-top: 50px;
	display: grid;
	grid-template-columns: 95%;
	grid-template-rows: 190px;
	padding: 50px 43px;
	justify-content: space-between;
	line-height: 1.8;
	gap: 190px;
}
.video-section-near-footer > div {
	cursor: pointer;
}
.video-section-near-footer .using-survey img {
	height: 80%;
}
/* ------------------------------- */
.video-section-near-footer .enterprise-card-2 img {
	height: 80%;
}
/* --------------------------------------*/
.video-section-near-footer .managing-the-customer img {
	height: 80%;
}
/* --------------------------------------------- */
.input-form-near-footer-container .input-form {
	width: 92%;
}
.input-form-near-footer-container .input-form > div {
	grid-template-columns: 100%;
	margin-bottom: 9px;
}
.input-form-near-footer-container .comment {
	width: 95%;
}
.input-form-near-footer-container .checkbox-and-info {
	width: 95%;
}

.input-form-near-footer-container input,
select {
	width: 100%;
}
.checkbox-and-info input {
	width: 70px;
	height: 70px;
}
.comment input {
	width: 100%;
}
.input-form-near-footer-container .submit-button {
	width: 30%;
}
/*--------------------------------------------------*/
.not-ready-container .not-ready-text{
	width: 95%;
}
.not-ready-container .not-ready-text h1{
	font-size: 33px;
}
.not-ready-container .not-ready-text p{
	font-size:15px;
}

}