/** @format */

* {
  color: #333e48;
  font-family: "National 2", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans",
    "Hiragino Kaku Gothic Pro", "游ゴシック", "游ゴシック体", YuGothic,
    "Yu Gothic", "ＭＳ ゴシック", "MS Gothic", sans-serif;
  box-sizing: border-box;
}
body {
  height: 80vh;
  background-color: #f0f0f0;
}
#loginbox {
  width: 476px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}
#logo {
  width: 60%;
  margin-bottom: 20px;
}
#logo > img {
  width: 100%;
}
a {
  text-decoration: none;
  color: #005977;
}
#form {
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 14%);
  width: 100%;
  padding: 20px 40px;
  background-color: #fff;
}
.signup {
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
}
.signup a:hover {
  text-decoration: underline;
}
label {
  font-size: 12px;
  display: flex;
  margin-bottom: 10px;
}
label > span {
  font-weight: bold;
}
.colorgreen {
  color: limegreen;
  margin-left: 5px;
}
label i {
  margin-left: 5px;
  cursor: pointer;
}
label i:hover + .infotext {
  display: block;
}
.icon {
  position: relative;
}
.icon div::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 14%);
  left: -5px;
  top: 113px;
  background: #fff;
  z-index: 2;
  rotate: 45deg;
}
.infotext {
  position: absolute;
  left: 200%;
  bottom: -1000%;
  width: 270px;
  height: 260px;
  display: none;
  background: #fff;
  font-size: 13px;
  line-height: 18px;
  padding: 20px;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 14%);
}

input {
  margin: 10px auto;
  height: 50px;
  width: 100%;
  outline: none;
  border: 1px solid grey;
  font-size: 20px;
  padding-left: 5px;
}
input:focus {
  outline: 1px solid #00bf6f;
  border: none;
}
.forgotmail {
  margin: 5px auto;
}
.forgotmail > a {
  font-size: 14px;
}
.forgotmail > a:hover {
  text-decoration: underline;
}
#submitButton {
  margin: 10px auto;
}
.button-disabled {
  width: 100%;
  padding: 16px;
  background-color: rgba(0, 191, 137, 0.36);
  color: rgba(255, 255, 255, 0.834);
  border: 0px;
  cursor: not-allowed;
  font-weight: bold;
}
.button-enabled {
  width: 100%;
  padding: 16px;
  background-color: #00bf6f;
  font-weight: bold;
  color: white;
  border: 0px;
  cursor: pointer;
}
.button-enabled:hover {
  background-color: #00ce78;
}
.sso {
  font-size: 14px;
}
.btnsso {
  height: 50px;
  width: 100%;
  background: #fff;
  border: 1px solid gray;
  cursor: pointer;
  transition: all 0.5s;
}
.btnsso:hover {
  background-color: #f0f0f0;
}
.social {
  width: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}
.social > div {
  width: 15%;
  height: 100%;
  text-align: center;
}
.social > div > p {
  margin-top: 10px;
  font-size: 12px;
}
.socialimage {
  width: 60px;
  height: 60px;
}
.socialimage > a {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  transition: all 0.5s;
}
.socialimage > a:hover {
  background-color: #f2f2f2;
}
.socialimage > a > img {
  width: 30px;
  height: 30px;
}
.bottom {
  position: absolute;
  bottom: 5px;
  right: 10px;
  margin-left: 20px;
}
.bottom a {
  font-size: 14px;
  margin-left: 5px;
}
.bottom a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 576px) {
  #loginbox {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }
  #form {
    padding: none;
    box-shadow: none;
  }
  .bottom {
    margin: 20px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
  }
  #logo {
    margin: auto;
  }
}
