* {
  color: #333e48;
}
#foot-container a:hover {
  color: #007faa;
  text-decoration: underline;
}
#foot-container a {
  text-decoration: none;
}
#top {
  display: flex;
  flex-direction: column;
}
#top > div {
  display: flex;
  align-items: center;
}
#top > div ul li {
  list-style: disc;
}
#bottom ul {
  list-style: none;
}
#bottom img {
  width: 100px;
  height: 60px;
}
#four ul {
  display: flex;
  justify-content: flex-end;
}
.sm {
  font-size: small;
}
#bottom {
  padding: 0px 60px;
}
#languages > select,
#languages > select option {
  background-color: #333e48;
  color: white;
  padding: 5px;
}
#two p {
  width: 30%;
}
@media all and (min-width: 320px) and (max-width: 720px) {
  #lists {
    display: block;
  }
  #two p {
    width: 60vw;
  }
}
