* {
  color: #333e48;
}
#foot-container {
  margin: 80px auto;
}
#foot-container a:hover {
  color: #007faa;
  text-decoration: underline;
}
#foot-container a {
  text-decoration: none;
}
#top {
  display: flex;
  flex-direction: column;
}
#top > div {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
}
#top > div > span {
  width: 120px;
}
#top > div > ul {
  width: 90%;
}
#top > div > ul li {
  display: inline-block;
  line-height: 20px;
}

.labels {
  margin-left: 40px;
  font-size: 20px;
  font-weight: bold;
}
#bottom ul {
  list-style: none;
}
#bottom img {
  width: 100px;
  height: 60px;
}
#four ul {
  display: flex;
  justify-content: flex-end;
}
#bottom {
  padding: 15px 60px;
}
#languages > select,
#languages > select option {
  background-color: #333e48;
  color: white;
  padding: 5px;
  margin-bottom: 10px;
}
#two p {
  width: 30%;
  line-height: 24px;
}
@media only screen and (min-width: 769px) {
  .sm::before {
    content: "\2022";
    color: #333e48;
    font-weight: bold;
    display: inline-block;
    margin-left: 2px;
    font-size: 10px;
  }
}
@media only screen and (max-width: 768px) {
  #top {
    gap: 0px;
  }
  #top > div {
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
  }
  #top > div > span {
    width: auto;
  }
  #top > div > ul li {
    display: flex;
    margin-left: 20px;
  }
  .labels {
    margin-left: 10px;
  }
  #two p {
    width: 100%;
  }
  #bottom {
    padding: 15px 80px 15px 20px;
  }
}
