        *{
            color:#333e48;
            font-size: 15px;
            font-family: "National 2","Helvetica Neue",Helvetica,Arial,"Hiragino Sans","Hiragino Kaku Gothic Pro","游ゴシック","游ゴシック体",YuGothic,"Yu Gothic","ＭＳ ゴシック","MS Gothic",sans-serif;
        }
        body{
            margin-top: 220px;
        }
        a{
            text-decoration: none;
            color: #005977;
        }        
        #form h1{
            font-size: 32px;
            color: #333E48;
        }
        #form{
            box-shadow: 0 2px 8px 0 rgb(0 0 0 / 14%);
            margin: auto;
            width: calc(576px - (2 * 64px));
            padding: 30px;
        }
        input{
            width: 95%;
            padding: 10px;
            font-size: large;
        }
        button{
            width: 100%;
            padding: 16px;
            background-color:#00bf6f;
            color: white;
            border: 0px;
        }
        #logo{
            display: flex;
            justify-content: center;
            margin-left: -180px;
        }
        .signup a:hover{
            text-decoration: underline;
        }
        .bottom{
            display: flex;
            justify-content: end;
            margin-top: 230px;
        }
        .bottom a{
            padding-right: 20px;
        }
        .bottom a:hover{
            text-decoration: underline;
        }
        @media all and (min-width:320px) and (max-width:720px){
            body{
                margin: auto;
            }
            #form{
                padding: 0%;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
            }
            .bottom{
                display: grid;
                margin-top: 100px;
                margin-left: 120px;
                grid-template-columns: repeat(1,1fr);
            }             
            input{
                width: 90%;
                padding: 10px;
            }
            button{
                width: 95%;
            }
            #logo{
                position: relative;
                margin: auto;
            }
        }
    