#container{
   margin-left:0px;
}


#up1{
height: 600px;
width: 100%;
margin-top:100px;


}
#up1>img{
    width: 100%;
    height:500px;
}
#bw{
    height:380px;
    width: 60%;
   /* border: 1px solid wheat; */
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background: white;
    position:relative;
    bottom:250px;
    left:330px;
    /* white-space:pre-line; */
   
}
#bw>h1{
 font-size:40px; 
 font-weight: bold;
 line-height: 50px; 
 margin-left:50px; 
 position:relative;
 bottom:50px;
}
#bw>h2{
    margin-bottom:30px; 
    font-size:25px;
    line-height: 30px; 
    margin-left:50px;
    font-weight:600;
    position:relative;
    bottom:70px;
     
}
#bw>p{
    /* margin-top:60px; */
    padding:90px 0px 0px 0px;
    margin-left:50px;
    
    color:grey;
    font-weight: bold;  
    position:relative;
    bottom:40px;
}
#who{
    position:relative;
    bottom:100px;

}
#nav{
    display:flex;
    gap:30px;
    cursor:pointer;
    position:relative;
    bottom:100px;
    font-style: italic;
    font-weight: bolder;
    color:grey;
    font-size: 20px;

}
#line1{
    height:2px;
    background-color: grey;
    position:relative;
    bottom:80px;
 

}
#btn{
    cursor: pointer;
    display: flex;
    gap:20px;
    position:relative;
     bottom:70px; 
    
}
#btn>h3{
padding:10px;
border:1px solid grey;
background:grey;
border-radius: 30px;
color:white;
}

#btn>h3:hover{
    /* display: block; */
    background: green;
    
}
#case{
    display: grid;
    grid-template-columns: repeat(3,450px);
    grid-template-rows: repeat(2,450px);
    gap:20px;
   
    justify-content: center;

}
#case>div{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#case>div>img{
    
     /* float: left; */
    width:  90%;
    height: 200px;
    background-size: hidden;
      margin: 20px 20px ; 
     
    border-radius: 10px;
    transition:1s;

}
#case>div>img:hover{
    transform:scale(1.3)
}
  #case>div:nth-child(3)>img{
     width:100%;
     height:100%; 
    position:relative;
    bottom:222px;
    right:20px;
    z-index:100;
    border-radius: 0px;

}  
#case>div>h4{
    margin-top:50px;
    margin-left:20px;
    color:grey;
}
#case>div:nth-child(3)>p{
    position:relative;
    top:20px;
     z-index:101; 
     font-size: 40px;
     text-align: center;
     word-spacing: 20px;
     line-height: 40px;
     color:white;
     
   
}
#sign{
    z-index:102;
    position: relative;
    top:40px;
    left:180px;
    padding:12px 40px;
    background: orange;
    border:none;
    font-weight: bolder;
    font-size: 15px;

}
#case>div>p{
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    margin-left:20px;
}
#case>div:nth-child(6)>img{
    position: relative;
    top:30px
}
#curious{
    margin-top: 200px;
    display:flex;
    background: #000063;
    height:400px;
}
#women{
   margin-left:400px;
}
#women>img{
    width: 100%;
    height: 100%;
    position:relative;
    right:40px;
}
#btns{
    /* margin-top:230px; */
    margin-left:20px;
   
}
#btns>button{
    padding:12px 20px;
    font-weight: bolder;
    border-radius: 8px;
    border:none;
    position:relative;
    top:40px;
    
   
}
#btns>button:hover{
    background:#43a047;
    color:white;
}
#btns>p{
    font-size: 40px;
     margin-top:100px; 
     color:white;
     font-weight:300;
     position:relative;
    top:40px;
}
/* ----------------------------------------------------------------------------------------------------------- */
#customer{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,500px);
    gap:20px;
    cursor: pointer;
    
}
#customer>div{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin:0px 20px;
    transition:1s;
}
#customer>div:hover{
    transform: scale(1.1);
}
#customer>div>img{
    width:  92%;
    height: 200px;
    background-size: hidden;
     margin:20px 20px 0px;
     
    border-radius: 10px;
z-index: 100;
transition:1s;

}
#customer>div>img:hover{
    transform:scale(1.3);
}
#customer>div:nth-child(4)>img{
    z-index: 101;
    margin-top:50px;

}
#customer>div:nth-child(5)>img{
    z-index: 101;
    margin-top:50px;

}
#customer>div>h4{
    margin-top:70px;
    color:grey;
    margin-left:20px;
}
#customer>div>p{
    font-size:28px;
    font-weight: bold;
    line-height: 35px;
    margin-left:20px;
}
/* -------------------------------------------------------------------------------------------------------------- */
#load{
    margin-top:40px;
    padding:10px 680px;
    background:#00701a;
    
    color:white;
    border:none;
    border-radius: 4px;
    font-weight: bolder;
    position:relative;
    left:40px;
}
#survey{
    height:300px;
    width:100%;
    background: #000063;
    margin-top:100px;

}
#survey>P{
    font-size: 50px;
    color:white;
    font-weight: bold;
    word-spacing: 10px;
    
    text-align: center;
    position: relative;
    top:120px;
}
#survey>button{
    background: orange;
    padding:15px 50px;
    font-weight: bold;
    border-radius: 4px;
    border:none;
    position: relative;
    top:100px;
    left:650px;
}