* {
  color: #333e48;
  font-size: 14px;
  font-family: "National 2", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans",
    "Hiragino Kaku Gothic Pro", "游ゴシック", "游ゴシック体", YuGothic,
    "Yu Gothic", "ＭＳ ゴシック", "MS Gothic", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #f0f0f0;
}
#loginbox {
  width: 476px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
}
#logo {
  width: 60%;
  margin-bottom: 10px;
}
#logo > img {
  width: 100%;
}
a {
  text-decoration: none;
  color: #005977;
}
a:hover {
  text-decoration: underline;
}
#form {
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 14%);
  width: 100%;
  padding: 20px 40px;
  background-color: #fff;
}

.checkbox > div {
  display: flex;
  gap: 10px;
  margin-top: 5px;
  align-items: center;
}
.checkbox > div > span {
  width: 90%;
  font-size: 12px;
  line-height: 16px;
}
.checkbox > div > span a {
  font-size: 12px;
}
input[type="checkbox"] {
  margin-top: 0px;
  height: 20px;
  width: 20px;
}

input[type="email"] {
  margin: 10px auto;
  height: 50px;
  width: 100%;
  outline: none;
  border: 1px solid grey;
  font-size: 20px;
  padding-left: 5px;
}
input[type="email"]:focus {
  outline: 1px solid #00bf6f;
  border: none;
}
#submitButton {
  margin: 10px auto;
}
.button-disabled {
  width: 100%;
  padding: 16px;
  background-color: rgba(0, 191, 137, 0.36);
  color: rgba(255, 255, 255, 0.834);
  border: 0px;
  cursor: not-allowed;
  font-weight: bold;
}
.button-enabled {
  width: 100%;
  padding: 16px;
  background-color: #00bf6f;
  font-weight: bold;
  color: white;
  border: 0px;
  cursor: pointer;
}
.button-enabled:hover {
  background-color: #00ce78;
}
.social {
  width: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}
.social > div {
  width: 15%;
  height: 100%;
  text-align: center;
}
.social > div > p {
  margin-top: 10px;
  font-size: 12px;
}
.socialimage {
  width: 60px;
  height: 60px;
}
.socialimage > a {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  transition: all 0.5s;
}
.socialimage > a:hover {
  background-color: #f2f2f2;
}
.socialimage > a > img {
  width: 30px;
  height: 30px;
}
.bottom {
  position: absolute;
  bottom: 5px;
  right: 10px;
  margin-left: 20px;
}
.bottom a {
  margin-left: 5px;
  font-size: 14px;
}
.bottom a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 576px) {
  #loginbox {
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }
  #form {
    padding: none;
    box-shadow: none;
  }
  .bottom {
    margin: 20px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
  }
  #logo {
    margin: 10px auto 0 auto;
  }
}
